<div class="all_forms">
  <div class="form-inner">
    <h1>New Playlist</h1>

    <%= render 'form' %>


    <div class="btn btn-default"><%= link_to 'Cancel', playlists_path %></div>

  </div>
</div>
