<!DOCTYPE html>
<html>
<head>
  <title>Danceoke</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans|Indie+Flower|Arimo|Antic+Slab' rel='stylesheet' type='text/css'>  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body class="home_background">



<%= yield %>


</body>
</html>